<body>
  {% extends 'main.html' %}

  {% block content %}
  <div class="grid grid-cols-4 p-5 md:px-10">
    <!-- sidebar -->
    <div class="col-span-1">
      <h3>Browse Topics</h3>
      <hr>

      <div class="">
        <a href="{% url 'home' %}">All</a>
      </div>

      {% for topic in topics %}
        <div class="">
          <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
      {% endfor %}
    </div>

    <!-- main content -->
    <div class="col-span-3">
      <h5>{{room_count}} rooms available</h5>
      <a href="{% url 'create-room' %}"> Create room</a>

      <div>
        {% for room in rooms %}
        <div class="">
          <a href="{% url 'update-room' room.id  %}"> Edit</a>
          <a href="{% url 'delete-room' room.id  %}"> Delete</a>
          <span>@{{ room.host.username }}</span>
          <h5>{{ room.id }} -- <a href="{% url 'room' room.id %}">{{ room.name }}</a> -- {{ room.topic.name }}</h5>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
  {% endblock content %}
</body>